/* Estilo del fondo degradado */
.root {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #87CEEB); /* Fondo degradado azul y blanco */
}

/* Estilo de los botones */
.button {
    -fx-background-color: #FFF484; /* Fondo amarillo pastel suave para los botones */
    -fx-text-fill: #000000; /* Texto negro */
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #D4FF58; /* Cambio de color al pasar el ratón */
}

/* Estilo de los text areas */
.text-area {
    -fx-font-size: 20px; /* Tamaño de letra grande */
    -fx-alignment: center; /* Texto centrado tanto vertical como horizontalmente */
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc; /* Borde gris claro */
}